#content {
  position:relative;
  margin:20px;
  padding: 10px;
  display: inline-block;
}

.table-responsive > .table > tbody > tr > td, .table-responsive > .table > tbody > tr > th, .table-responsive > .table > tfoot > tr > td, .table-responsive > .table > tfoot > tr > th, .table-responsive > .table > thead > tr > td, .table-responsive > .table > thead > tr > th {
}

.h1, h1 {
  text-align:left;
}
.btnContain{
    margin: 10px;
    padding: 5px;
}

.tableheader {
  background:lightgrey;
}

.numberColumn {
  text-align:center;
}

searchButton {
  background:lightgreen;
}

.openButton {
  background:lightGreen;
  opacity:0.7;
}

.deleteButton {
  background:tomato;
  opacity:0.7;
}

.editButton {
  background:yellow;
  opacity:0.7;
}

